<section class="TodoSection">
    <div class="TodoSection-title">
    <p class="TodoSection-title-text"><%= section_title %></p>
    <p class="TodoSection-title-remainingCount"><%=todos.completed.count%>/<%= todos.count %></p>
    </div>
    <ul class="TodoSection-list">
    <% todos.each do |todo| %>
        <% if !todo.completed || section_title != "Overdue" %>
            <li class="TodoItem">
            <div class="TodoItem-container">
                <%= form_with(url:"/todos/#{todo.id}", method:"put") do %>
                    <input class="TodoItem-checkbox" name="completed" type="checkbox" onclick="this.form.submit()" <%= todo.completed ? "checked" : "" %> />
                <% end %>
                <p class="TodoItem-todo" <%= todo.completed ? 'style=text-decoration:line-through' : "" %>><%= "#{todo.id} - #{todo.todo_text}" %></p>
                <% if show_due_date %>
                    <p class="TodoItem-duedate"><%= todo.due_date.strftime("%d %b") %></p>
                <%end%>
                <a  href="javascript:void(0)">
                    <%= form_with(url:"/todos/#{todo.id}", method:"delete") do %>
                        <input class="TodoItem-delete" type=image src="delete.png">
                    <% end %>
                </a>
            </div>
            </li>
        <% end%>
    <% end %>
    </ul>
</section>
