<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Our Todo Management App</title>
</head>

<!-- Following BEM convention to name class selectors -->

<body>
  <article>
    <h1 class="TodoPage-title">My Todo-list</h1>
    <%= form_with(url: "/todos", method: "post") do%>
      <!--<input class="AddTodo-input" type="text" placeholder="What's next?" name="todo_text">-->
      <%= text_field_tag("todo_text", nil, placeholder: "What's next?", class: "AddTodo-input")%>
      <%= text_field_tag("due_date", nil, class:"AddTodo-input", type:"date") %>
      <%= text_field_tag("submit-button", "Add", class:"AddTodo-button", type:"submit") %>
    <%end%>

    <!-- Overdue -->
    <%= render partial:"todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue,
      show_due_date: true
    }%>

    <!-- Due Today -->
    <%= render partial:"todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      show_due_date: false
      }%>

    <!-- Due Later -->
    <%= render partial:"todo-section", locals: {
      section_title: "Due Later",
      todos: Todo.due_later,
      show_due_date: true
    }%>


  </article>
</body>

</html>